
<footer class="pie-pagina">
    <section class="footer-section">
      <i class="fa-solid fa-credit-card"></i>
      <b>Pagá con tarjeta o en efectivo</b>
      <p>
        Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o
        efectivo en puntos de pago. ¡Y siempre es seguro!
      </p>
    </section>
    <section class="footer-section">
      <i class="fa-solid fa-gift"></i>
      <b>Envío gratis desde $ 2.500</b>
      <p>
        Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en
        miles de productos. Es un beneficio de Mercado Puntos.
      </p>
    </section>
    <section class="footer-section">
      <i class="fa-solid fa-user-shield"></i>
      <b>Seguridad, de principio a fin</b>
      <p>
        ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas
        hacer, porque estás siempre protegid@.
      </p>
    </section>
    <section class="Copyright">
      <h5>Copyright © 1999-2020 MercadoLiebre S.R.L.</h5>
    </section>
  </footer>