<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/public/css/styles.css">
</head>
<body>
  <header>
    <div class="header-top">
      <img class="logo" src="/img/logo-mercado-liebre.svg"/> <a href="index.html"></a>
      <form  class="serch-box" action="/products/search" method="get"> 
        <input type="text" name="search"  placeholder="Buscar productos, marca"/>
        <input type="submit" value="buscar">
      </form>
        <!-- <button><i class="fa-solid fa-magnifying-glass"></i></button>     -->
      
      <p><i class="fa-solid fa-hand-holding-dollar"></i>Comprá en cuotas y sin tarjeta de crédito</p>
    </div>

    <nav class="header-button">
      <ul class="nav-bar">
          <li>Ofertas</li>
          <li>Tiendas Oficiales</li>
          <li>Vender</li>
          <li>Ayuda</li>
      </ul>
      <ul class="nav-bar">
          <li><a href="register.html">Creá tu cuenta<i class="fa-regular fa-address-card"></i></li></a>
          <li><a href="login.html">Ingresá <i class="fa-solid fa-right-to-bracket"></i></li></a>
          <li>Mis compras <i class="fa-solid fa-basket-shopping"></i></li>
      </ul>
    </nav>
    <div class="hamburguer-botton">
        <button>
          <i class="fa-solid fa-bars"></i>
        </button>
      </div>
      <img class="banner" src="/img/img-home-banner.jpg"/>
    </header>
</body>
</html>
