<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crear producto</title>
</head>
<body>
    <h1>Estas creando un producto</h1> 
    <form action="/products" method="post" enctype="multipart/form-data"> <!-- //poder estar subiendo archivos -->
        <input type="text" name="title" placeholder="titulo">
        <input type="number" name="price" placeholder="precio">
        <input type="file" name="img">
        <input type="submit" value="registrar producto">
    </form>
</body>
</html>