<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/style.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
    <link rel="stylesheet" href="/css/login.css">
</head>

<body>
    <header>
        <div class="header-top">
          <img class="logo" src="/img/logo-mercado-liebre.svg"/> <a href="index.html"></a>
          <div class="serch-box">
            <input type="search" placeholder="Buscar productos, marca"/>
            <button><i class="fa-solid fa-magnifying-glass"></i></button>    
          </div>
          <p><i class="fa-solid fa-hand-holding-dollar"></i>Comprá en cuotas y sin tarjeta de crédito</p>
        </div>
    
        <nav class="header-button">
          <ul class="nav-bar">
              <li>Ofertas</li>
              <li>Tiendas Oficiales</li>
              <li>Vender</li>
              <li>Ayuda</li>
          </ul>
          <ul class="nav-bar">
              <li><a href="register.html">Creá tu cuenta<i class="fa-regular fa-address-card"></i></li></a>
              <li><a href="login.html">Ingresá <i class="fa-solid fa-right-to-bracket"></i></li></a>
              <li>Mis compras <i class="fa-solid fa-basket-shopping"></i></li>
          </ul>
        </nav>
        <div class="hamburguer-botton">
            <button>
              <i class="fa-solid fa-bars"></i>
            </button>
          </div>
          <img class="banner" src="/img/img-home-banner.jpg"/>
        </header>
    <main>
        <form action="/login" method="post" class="login">
            <div class="input-text">
                <input type="text" placeholder="Nombre de Usuario">
                <span>Los datos ingresados no son correctos</span>
            </div>
            <div class="input-text">
                <input type="password" placeholder="Elegí tu contraseña">
                <span>Los datos ingresados no son correctos</span>
            </div>
            <div class="enviar">
                <input type="submit" placeholder="Enviar">
            </div>
        </form>
    </main>
    <footer class="pie-pagina">
      <section class="footer-section">
          <i class="fa-solid fa-credit-card"></i>
          <b>Pagá con tarjeta o en efectivo</b>
          <p>
          Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o
          efectivo en puntos de pago. ¡Y siempre es seguro!
          </p>
          </section>
        <section class="footer-section">
        <i class="fa-solid fa-gift"></i>
        <b>Envío gratis desde $ 2.500</b>
        <p>
          Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en
          miles de productos. Es un beneficio de Mercado Puntos.
        </p>
        </section>
        <section class="footer-section">
        <i class="fa-solid fa-user-shield"></i>
        <b>Seguridad, de principio a fin</b>
        <p>
          ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas
          hacer, porque estás siempre protegid@.
        </p>
      </section>
    </footer>
    <section class="Copyright">
      <h5>Copyright © 1999-2020 MercadoLiebre S.R.L.</h5>
    </section>
</body>

</html>